# Dependencies
/node_modules

# Build output
/build
/dist

# OS and editor-specific files
/.DS_Store
Thumbs.db
*.swp
*.log
*.log.*
*.tmp
*.tmp.*

# Environment configuration
.env.local
.env.development
.env.test
.env.production

# Editor-related files
.vscode
.idea

# ESLint and Prettier artifacts
.eslintcache
/.eslintcache
/prettier.config.js

# Babel artifacts
# /.babelrc
/.babelrc.js
/.babelrc.json
/babel.config.js

# Jest test results
/coverage

# Yarn Integrity file
.yarn-integrity

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directory
/pnpm-lock.yaml

# Optional npm cache directory
.pnpm